/* Palette:
 * https://coolors.co/605f5e-fad8d6-1d3461-247ba0-d82827
 */
:root {
  --color-white: #fff;
  --color-black: #000F08;
  --color-maximum-red: #D82827;
  --color-lighter-red: #FAD8D6;
  --color-lighter-blue: #cce6f4;
  --color-light-blue: #247Ba0;
  --color-blue: #1f487e;
  --color-dark-blue: #1d3461;
  --color-graphite-gray: #605f5e;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: system-ui; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-weight: 300;
  color: var(--color-black);
}

pre, code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 1em;
  font-size-adjust: 0.5;
}

pre {
  font-size: 0.95em;
  line-height: 1.2em;
}

p, figure, blockquote, ul, ol, .highlighter-rouge {
  margin: 0 0 1em 0;
}

ul, ol {
  padding: 0 0 0 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0.5rem 0;
  color: var(--color-dark-blue);
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;

  padding: 1em 1em 0 3em;
  font-style: italic;
  background: var(--color-lighter-blue);
  color: var(--color-blue);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

h1 {
  font-size: 2em; /* 2x body copy size = 32px */
  line-height: 1.25; /* 45px / 36px */
}

h2 {
  font-size: 1.625em; /* 1.625x body copy size = 26px */
  line-height: 1.15384615; /* 30px / 26px */
}

h3 {
  font-size: 1.375em; /* 1.375x body copy size = 22px */
  line-height: 1.13636364; /* 25px / 22px */
}

h4 {
  font-size: 1.125em; /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

h5 {
  font-size: 1em;
  line-height: 1.11111111;
}

h6 {
  font-size: 1em;
  line-height: 1.11111111;
}


hr {
  border: 0;
  background: rgb(216, 40, 39);
  height: 1px;
  margin: 1em -15px;
}

pre {
  padding: 15px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 -15px 1em;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(216, 40, 39);
}

dt {
  font-weight: 700;
}

a {
  color: var(--color-light-blue);
}
