.footer {
  position: relative;
}

.footer-wrap {
  margin: 60px auto 15px auto;
  padding: 15px 15px;
  max-width: 650px;
  border-top: 1px solid var(--color-maximum-red);
  display: flex;
}

.footer-social {
  flex: 1;
}

.footer-description {
  flex: 2;
}
