.posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.posts-item {
  margin: 0 0 2em 0;
  padding: 0;
}

.posts-meta {
  color: var(--color-graphite-gray);
}

.posts-title {
  margin-bottom: 0;
}

.posts-link {
  color: var(--color-dark-blue);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-dark-blue);
    text-decoration: underline;
  }
}
