.social {
  display: inline-block;
  text-decoration: none;
  padding: 2px 0.5rem;
  border-radius: 4px;
  background: none;
  color: var(--color-graphite-gray);
  transition: all 0.1s ease-in-out;
  text-decoration: none;

  & svg {
    fill: var(--color-graphite-gray);
  }

  &:active,
  &:focus,
  &:hover {
    background: var(--color-maximum-red);
    color: var(--color-white);

    text-decoration: none;

    & svg {
      fill: var(--color-white);
    }
  }
}

.social-icon svg{
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}

.social--github svg {

}
