/* Palette:
 * https://coolors.co/605f5e-fad8d6-1d3461-247ba0-d82827
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove default margin.
 */
body {
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-weight: 300;
  color: #000F08;
}
pre, code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 1em;
  font-size-adjust: 0.5;
}
pre {
  font-size: 0.95em;
  line-height: 1.2em;
}
p, figure, blockquote, ul, ol, .highlighter-rouge {
  margin: 0 0 1em 0;
}
ul, ol {
  padding: 0 0 0 2em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 8px 0;
  margin: 0.5rem 0;
  color: #1d3461;
}
img {
  max-width: 100%;
}
blockquote {
  font-style: italic;

  padding: 1em 1em 0 3em;
  font-style: italic;
  background: #cce6f4;
  color: #1f487e;
  border-top: 1px solid #000F08;
  border-bottom: 1px solid #000F08;
}
h1 {
  font-size: 2em; /* 2x body copy size = 32px */
  line-height: 1.25; /* 45px / 36px */
}
h2 {
  font-size: 1.625em; /* 1.625x body copy size = 26px */
  line-height: 1.15384615; /* 30px / 26px */
}
h3 {
  font-size: 1.375em; /* 1.375x body copy size = 22px */
  line-height: 1.13636364; /* 25px / 22px */
}
h4 {
  font-size: 1.125em; /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
h5 {
  font-size: 1em;
  line-height: 1.11111111;
}
h6 {
  font-size: 1em;
  line-height: 1.11111111;
}
hr {
  border: 0;
  background: rgb(216, 40, 39);
  height: 1px;
  margin: 1em -15px;
}
pre {
  padding: 15px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 -15px 1em;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(216, 40, 39);
}
dt {
  font-weight: 700;
}
a {
  color: #247Ba0;
}
.header {
  position: relative;
}
.header-wrap {
  margin: 15px auto 30px auto;
  padding: 0 15px;
  max-width: 650px;
  border-bottom: 1px solid #D82827;
}
.header-link {

}
.page {
  position: relative;
  font-size: 1em;
  line-height: 1.375;
}
.page-wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 650px;
}
.post-header {
  margin-bottom: 1em;
}
.post-title {
  margin-bottom: 0;
  color: #1d3461;
}
.post-meta {
  color: #605f5e;
}
.posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.posts-item {
  margin: 0 0 2em 0;
  padding: 0;
}
.posts-meta {
  color: #605f5e;
}
.posts-title {
  margin-bottom: 0;
}
.posts-link {
  color: #1d3461;
  text-decoration: none
}
.posts-link:hover,
  .posts-link:active,
  .posts-link:focus {
  color: #1d3461;
  text-decoration: underline;
}
/*
   generated by rouge http://rouge.jneen.net/
   original base16 by Chris Kempson (https://github.com/chriskempson/base16)
*/
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}
.social {
  display: inline-block;
  text-decoration: none;
  padding: 2px 8px;
  padding: 2px 0.5rem;
  border-radius: 4px;
  background: none;
  color: #605f5e;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none
}
.social svg {
  fill: #605f5e;
}
.social:active,
  .social:focus,
  .social:hover {
  background: #D82827;
  color: #fff;
  text-decoration: none;
}
.social:active svg, .social:focus svg, .social:hover svg {
  fill: #fff;
}
.social-icon svg{
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}
.social--github svg {

}
.footer {
  position: relative;
}
.footer-wrap {
  margin: 60px auto 15px auto;
  padding: 15px 15px;
  max-width: 650px;
  border-top: 1px solid #D82827;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer-description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.tag {
  display: inline-block;
  background: #FAD8D6;
  padding: 2px 8px;
  padding: 2px 0.5rem;
  margin-right: 8px;
  margin-right: 0.5rem;
  border-radius: 4px;
  color: #D82827;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none
}
.tag svg {
  -webkit-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
  fill: #D82827;
  display: inline-block;
  vertical-align: text-top;
}
.tag:active,
  .tag:focus,
  .tag:hover {
  text-decoration: none;
  background: #D82827;
  color: #fff;
}
.tag:active svg, .tag:focus svg, .tag:hover svg {
  fill: #fff;
}
.tag-title {
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
}
.tag-section {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.tag-post {
  display: inline;
  font-weight: 300
}
.tag-post a,
  .tag-post a:active,
  .tag-post a:focus,
  .tag-post a:hover {
  text-decoration: none;
}
.tag-post small {
  display: inline-block;
  font-size: 80%;
  color: #605f5e;
  margin: 0 0 0 0.5em;
  padding: 0;
}
.tag-list {
  padding-left: 0;
  list-style-position: inside;
}
.tag-item {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-left: 1em;
  margin-bottom: .3em;
  list-style-type: circle
}
.tag-item:hover {
  list-style-type: disc;
  padding-left: 0.1em;
}
