---
layout: default
---

<div class="posts">
    {{ content }}
    <ul class="posts-list">
        {% for post in site.posts %}
        <li class="posts-item">
            <h1 class="posts-title">
                <a class="posts-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h1>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
